{% extends 'jokes/base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% load static %}
{% block content %}
<div class="row" style="font-family: 'Comfortaa', cursive">

<div class="col-sm-6 ">
    <h1 style="font-family: 'Comfortaa', cursive;" class="position-relative top-50 start-50 translate-middle" style="font-family: 'Comfortaa', cursive;">

    <font size="70">
    <p class="text-primary" style="font-family: 'Orbitron', sans-serif;">Joke complete</p>
    </font>
    <br>
    Веб-сервис по развитию чувства юмора <br><br>
    <a href="jokes" class="btn btn-primary">Перейти к списку шуток</a>
    </h1>
</div>
    <div class="col-sm-6">
        <h2>Топ-пользователи:</h2>
    <div class="card text-white bg-dark mb-3">
          <div class="card-body" style="background: linear-gradient(to right, rgba(24,24,26,1), rgba(24,24,26,1))">
              <img src="static/gold.png" class="card-img-top float-end" alt="..." style="width: 60px; height: 60px;">
            <h5 class="card-title">1-е место</h5>
            {% if user ==  profiles1.user%}
                <a href="{% url 'user_profile'%}" class="btn btn-primary">{{ profiles1.user }} - {{profiles1.rating}}</a>
            {% else %}
                <a href="{% url 'profile_info' profiles1.user.id %}" class="btn btn-primary">{{ profiles1.user }} - {{profiles1.rating}}</a>
            {% endif %}
          </div>
  </div>


    <br>
    <div class="card text-white bg-dark mb-3">
          <div class="card-body" style="background: linear-gradient(to right, rgba(24,24,26,1), rgba(24,24,26,1))">
              <img src="static/silver.png" class="card-img-top float-end" alt="..." style="width: 60px; height: 60px;">
            <h5 class="card-title">2-е место</h5>
              {% if user ==  profiles2.user%}
                  <a href="{% url 'user_profile'%}" class="btn btn-primary">{{ profiles2.user }} - {{profiles2.rating}}</a>
              {% else %}
                  <a href="{% url 'profile_info' profiles2.user.id %}" class="btn btn-primary">{{ profiles2.user }} - {{profiles2.rating}}</a>
              {% endif %}
          </div>
  </div>

    <br>
    <div class="card text-white bg-dark mb-3">
          <div class="card-body" style="background: linear-gradient(to right, rgba(24,24,26,1), rgba(24,24,26,1))">
              <img src="static/bronze.png" class="card-img-top float-end" alt="..." style="width: 60px; height: 60px;">
            <h5 class="card-title">3-е место</h5>
               {% if user ==  profiles3.user%}
                  <a href="{% url 'user_profile'%}" class="btn btn-primary">{{ profiles3.user }} - {{profiles3.rating}}</a>
              {% else %}
                  <a href="{% url 'profile_info' profiles3.user.id %}" class="btn btn-primary">{{ profiles3.user }} - {{profiles3.rating}}</a>
              {% endif %}
            </div>
  </div>


    </div>
</div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}





