{% extends 'jokes/base.html' %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}

    <h1 style="font-family: 'Comfortaa', cursive;">Список шуток</h1>

    <div class="row" style="font-family: 'Comfortaa', cursive;">
      <div class="col-sm-2">
        <div class="card text-white bg-dark mb-3" style="width: 15r; ">
              <div class="card-body" style="background: linear-gradient(to right, rgba(33,29,58,0.5), rgba(38,36,153,0.5))">
                <h5 class="card-title">Добавьте шутку</h5>
                <p class="card-text">
                    <div class="form-group">
                      <form method="post">
                        {% csrf_token %}
                        {{ form.title }}<br>
                        {{ form.content }}<br>
                        <button type="submit" class="btn btn-primary">Добавить</button>
                        <span>{{ error }}</span>
                      </form>
                    </div>
                </p>
              </div>
            </div>
      </div>
      <div class="col-sm-10">
        <div class="row row-cols-1 row-cols-md-5 g-4" >
        {% for el in jokes %}
            <div class="col">
            <div class="card text-white bg-dark mb-3" style="width: 15r;">
              <div class="card-body" style="background: linear-gradient(to right, rgba(24,24,26,1), rgba(24,24,26,1))">
                <h5 class="card-title">{{el.title}}</h5>
                <p class="card-text">{{el.content}}</p>
                <a href="{{el.get_absolute_url}}" class="btn btn-primary">Добить шутку</a>
              </div>
                <div class="card-footer text-muted">
                {{ el.time_created }}
                </div>
            </div>
            </div>
        {% endfor %}
        </div>
      </div>
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}


