{% extends 'jokes/base.html' %}

{% load static %}

{% block content %}
    <div class="card text-white bg-dark mb-3" style="font-family: 'Comfortaa', cursive">
      <div class="card-body" style="background: linear-gradient(to right, rgba(33,29,58,0.5), rgba(38,36,153,0.5))">
          <h1>{{ post.content }}</h1>
          Автор начальной фразы:{{ post.creator|linebreaks}}
          <h1>Добить шутку</h1>
          {% if user.is_authenticated %}
          <p class="card-text">
            <div class="form-group">
              <form method="post">
                    {% csrf_token %}
                    {{ form.title }}<br>
                    {{ form.content }}<br>
                    <button type="submit" class="btn text-white btn-primary" name="add_addition">Добить</button>
                    <span>{{ error }}</span>
              </form>
            </div>
        </p>
          {% else %}
              Войдите в аккаунт, чтобы добить шутку
          {% endif %}
      </div>
    </div>

    {% include 'jokes/post_additionlist.html' %}

    <br> <br>


{% endblock %}