{% extends 'jokes/base.html' %}


{% block title %}{{ user.username }}{% endblock %}

{% block content %}

    <div class="position-absolute top-50 start-50 translate-middle" style="font-family: 'Comfortaa', cursive;">
      <div class="col-sm-30">
        <div class="card text-white bg-dark mb-3" >
          <div class="card-body" style="background: linear-gradient(to right, rgba(24,24,26,1), rgba(24,24,26,1))">
            <h1 style="align-items: center;">{{ title }}</h1>
            {% if user.is_authenticated %}
                <h1>{{ user.username }}, welcome to your profile page</h1>
                <center>
                <img src="{{ user.profile.profile_pic.url }}" width = "150" height = "150"  />
                </center>
                <br>

                <h2>{{ user.first_name }}</h2>
{#                <h2>{{ user.profile.profile_pic }}</h2>#}
                <h2>{{ user.last_name }}</h2>
                <h2>{{ user.user_country }}</h2>
                <h2>Рейтинг: {{ user.profile.rating }}</h2>
                <p><a class="btn btn-primary float-end" href="{% url "edit" %}">Редактировать профиль</a></p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>



    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}